* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.wrapper-white {
  background-image: url("https://media.istockphoto.com/id/1497523070/photo/closeup-of-white-crumpled-paper-for-texture-background.webp?b=1&s=612x612&w=0&k=20&c=Vf-rpvLD56lrqrqLE5RfUyWiO9VCZhZMjj8SyqBckXI=");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  max-height: 100vh;
}

.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  width: 100vw;
  text-transform: capitalize;
  text-align: center;
}

p {
  font-weight: 900;
  font-size: 3rem;
  color: #280d64;
}

.container {
  position: relative;
  margin: 0 auto;
  border-radius: 5%;
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .container {
    width: 50vw;
  }
}

input {
  font-size: 3rem;
  font-weight: 600;
  text-align: end;
  padding: 2rem;
  background-color: transparent;
  height: 5.6rem;
  margin-top: 2rem;
  border: none;
  z-index: 2;
}
input:focus {
  outline: none;
}

.main {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(60px, 1fr));
  gap: 1rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  z-index: 1;
  text-align: center;
}

.button {
  position: relative;
  border: 1px solid black;
  user-select: none;
  font-size: clamp(1rem, 4vw, 2rem);
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  place-self: center;
  height: 5rem;
  cursor: pointer;
  border-radius: 20%;
  box-shadow: 0 0 10px 0.1px #eae0ff;
  z-index: 3;
}

.num {
  color: black;
  background-color: transparent;
}

.num:hover {
  background-color: #b7a9e9;
}

.sym {
  color: rgb(79, 17, 133);
  background-color: #cab2fe;
}

.sym:hover {
  background-color: #aa83ff;
}

.equal {
  color: white;
  background-color: rgb(44, 13, 91);
}

.wrapper-black {
  background-color: rgb(45, 45, 45);
}

.blacktheme {
  color: white;
}

.blackmode {
  color: white;
  background-color: rgb(62, 60, 60);
}

.blackmode-sym {
  color: #741eff;
  background-color: rgb(62, 60, 60);
}

.blackmode-equal {
  color: white;
  background-color: #4f219a;
}

.container-black {
  background-color: black;
}

.black-input {
  color: white;
}

.white-input {
  color: #741eff;
}

.darkmode-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: fixed;
  right: 10%;
  top: 10%;
  height: 70px;
  width: 70px;
  background-color: black;
  color: white;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .darkmode-btn {
    position: relative;
    left: 5;
    margin-bottom: 1rem;
    place-self: end;
    top: 0;
  }
}
